body {
    background-color: black;
    color: white;
}

section{
    background: #d5a39c;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
header{
    border-bottom: solid 2px rgb(rgb(0, 4, 255), green, blue);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 4, 255);
}
.texto{
    margin-right: 80px;
}
img {
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.lista{
    background-color: aqua;
}