body {
    background-color: black;
    color: white;
}

section{
    background: rgb(0, 4, 255)
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
header{
    border-bottom: solid 2px rgb(241, 10, 41);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 4, 255);
}
.texto{
    margin-right: 80px;
}
.categorias-videos img {
    height: 200px;
    opacity: 0.5;
}
.categorias-videos img:hover{
    opacity: 1.0;
    border: 100px rgb(241, 10, 41);
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 1px;
}
.lista{
    background-color: aqua;
}