body{
    background-color: blue;
    color: fuchsia;
    font-size: x-large;
}
section{
    background-color: aqua;
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    justify-content: center;

}